.App {
  text-align: center;
  height: 100vh;
  /* background-color: black; */
  /* background-color: white; */
  background-color: #ddd;

  /* variables */
  --text-color: #282828;
  color: var(--text-color);
}

.body-container {
  height: calc(100vh - 115px);
  display: grid;
  grid-gap: 1rem;
  /* grid-template-columns: 4fr 5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "sidebar main"
    "title main"; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: "main main" "section-header title";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
