@font-face {
  font-family: "Work Sans Bold";
  src: url("../../../fonts/Work_Sans/WorkSans-ExtraBold.ttf");
}

@font-face {
  font-family: "TT Hoves Pro";
  src: url("../../../fonts/TT_Hoves_Pro/TT\ Hoves\ Pro\ Trial \Regular.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../../fonts/Helvetica_Neue/HelveticaNeueRoman.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Montserrat:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

#landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* line-height: 1.8em; */
  width: 50%;
}

.title-name {
  font-size: 36px;
  font-family: "Helvetica Neue";
  text-decoration: underline;
  text-underline-offset: 28px;
  text-decoration-thickness: 1px;
}

.title-description {
  font-size: 24px;
  font-family: "TT Hoves Pro";
}

#landing-text-container {
  padding-top: 10%;
}

#landing-text-subcontainer {
  color: black;
}

#title-summary-container {
  color: black;
}

#image-container {
  color: black;
}

#links-container {
  color: black;
}

#text-title {
  /* font-family: "Montserrat"; */
  /* font-family: "Helvetica Neue"; */
  font-family: "TT Hoves Pro";
  font-size: 30px;
}

#text-summary {
  font-family: "Poppins";
  font-size: 20px;
}

#image {
  height: 290px;
  width: 200px;
}

#thankyou {
  font-size: 20px;
  color: black;
}
