@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@font-face {
    font-family: "New York";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/newyork/newyorkdisplay-regular-webfont.woff");
  }

#tah-container {
    height: 100vh;
    background-color: white;
    z-index: 0;
}

#tah-subcontainer {
    height: 60vh;
    align-items: center;
}

#tah-left {
    padding-top: 15vh;
}

#tah-left-title {
    color: black;
    font-size: 50px;
    text-align: left;
    font-family: 'Montserrat';
}

#tah-right {
    text-align: right;
    padding-top: 15vh;
}

#tah-right-title {
    font-family: 'Montserrat';
    font-size: 50px;
    text-align: center;
    color: black;
}

#tah-right-text {
    font-family: 'Poppins';
    color: black;
    font-size: 25px;
    font-style: italic;
}

#tah-border-bottom {
    border-bottom: 0.5px solid black;
}

#tah-border-bottom-text {
    font-size: 25px;
    font-style: italic;
    font-family: 'Rampart One';
}