@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@font-face {
    font-family: "New York";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/newyork/newyorkdisplay-regular-webfont.woff");
  }

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

#about-container {
    height: 100vh;
    background-color: white;
    z-index: 0;
}

#about-subcontainer {
    height: 80vh;
    align-items: center;
}

#about-left {
    padding-top: 15vh;
}

#about-right {
    padding-top: 15vh;
}

#about-right-title {
    font-family: 'Montserrat';
    font-size: 50px;
    text-align: center;
    color: black;
}

#about-text {
    font-family: 'Poppins';
    color: black;
    font-size: 25px;
    /* font-style: italic; */
    text-align: left;
}

#about-border-bottom {
    border-bottom: 0.5px solid black;
}

#about-border-bottom-text {
    font-size: 25px;
    font-style: italic;
    font-family: 'Rampart One';
}