@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@font-face {
    font-family: "New York";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/newyork/newyorkdisplay-regular-webfont.woff");
  }

#about-container {
    height: 600px;
    background-color: white;
    z-index: 2;
    padding-top: 100px;
}

#about-left-hash-text {
    font-family: 'Montserrat';
    font-size: 20px;
    color: black;
    text-align: left;
    line-height: 35px;
    margin-top: 100px;
}

#about-left-hash-add-text {
    font-size: 20px;
    font-style: italic;
    color: black;
    text-align: left;
    line-height: 35px;
}

#about-right-hash {
    font-family: 'New York';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-right-hash-title {
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 100px;
    margin-top: 60px;
}

#about-right-expand-button {
    margin-bottom: 50px;
}


.dotted-underline {
    text-decoration: underline red;
    color: black;
}