@font-face {
    font-family: 'Work Sans Bold';
    src: url('../../fonts/Work_Sans/static/WorkSans-ExtraBold.ttf')
}

#header-container {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
}

#text {
    color: black;
}
