@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@font-face {
    font-family: "New York";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/newyork/newyorkdisplay-regular-webfont.woff");
  }

#pub-container {
    height: 600px;
    background-color: white;
    z-index: 0;
}

#pub-right-hash-title {
    font-family: 'New York';
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: black;
    line-height: 100px;
    margin-top: 200px;
}

#publications {
    font-family: 'Montserrat';
    color: black;
    font-size: 25px;
    line-height: 100px;
    font-style: italic;
    margin-top: 200px;
    margin-right: 100px;
}